# OSX
.DS_Store

# Xcode
ios/build/
ios/Pods/
ios/.xcode.env.local
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData
*.hmap
*.ipa
*.xcuserstate
ios/*.xcworkspace

# Android/IntelliJ
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/*.iml
android/.idea
*.keystore
!debug.keystore

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# BUCK
buck-out/
\.buckd/
*.keystore
!debug.keystore

# fastlane
*/fastlane/report.xml
*/fastlane/Preview.html
*/fastlane/screenshots
*/fastlane/test_output

# Bundle artifacts
*.jsbundle

# CocoaPods
/ios/Pods/

# Ruby / Bundler
vendor/bundle/

# Metro
.metro-health-check*

# Testing
/coverage

# Yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Env files
.env
.env.local

# Temporary files created by Metro to check the health of the file watcher
.metro-health-check*
